@font-face {
    font-family: 'Hyundai Sans Text Office';
    src: url('HyundaiSansTextOffice-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Hyundai Sans Head Office';
    src: url('HyundaiSansHeadOffice-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hyundai Sans Text Office';
    src: url('HyundaiSansTextOffice-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Hyundai Sans Head Office';
    src: url('HyundaiSansHeadOffice-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hyundai Sans Head Office';
    src: url('HyundaiSansHeadOffice-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hyundai Sans Head Office';
    src: url('HyundaiSansHeadOffice-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hyundai Sans Head Office';
    src: url('HyundaiSansHeadOffice-Light_1.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hyundai Sans Head Office';
    src: url('HyundaiSansHeadOffice-Medium_1.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hyundai Sans Head Office';
    src: url('HyundaiSansHeadOffice-Regular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hyundai Sans Text Office';
    src: url('HyundaiSansTextOffice-BoldItalic_1.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Hyundai Sans Text Office';
    src: url('HyundaiSansTextOffice-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hyundai Sans Text Office';
    src: url('HyundaiSansTextOffice-BoldItalic_2.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Hyundai Sans Text Office';
    src: url('HyundaiSansTextOffice-Bold_1.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hyundai Sans Text Office';
    src: url('HyundaiSansTextOffice-Italic_1.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Hyundai Sans Text Office';
    src: url('HyundaiSansTextOffice-Italic_2.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Hyundai Sans Head Office';
    src: url('HyundaiSansHeadOffice-Bold_1.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hyundai Sans Head Office';
    src: url('HyundaiSansHeadOffice-Light_2.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hyundai Sans Text Office';
    src: url('HyundaiSansTextOffice-Bold_2.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hyundai Sans Head Office';
    src: url('HyundaiSansHeadOffice-Medium_2.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hyundai Sans Head Office';
    src: url('HyundaiSansHeadOffice-Bold_2.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hyundai Sans Head Office';
    src: url('HyundaiSansHeadOffice-Regular_2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hyundai Sans Text Office';
    src: url('HyundaiSansTextOffice-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hyundai Sans Text Office';
    src: url('HyundaiSansTextOffice-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hyundai Sans Text Office';
    src: url('HyundaiSansTextOffice-Medium_1.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hyundai Sans Text Office';
    src: url('HyundaiSansTextOffice-Regular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hyundai Sans Text Office';
    src: url('HyundaiSansTextOffice-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Hyundai Sans Text Office';
    src: url('HyundaiSansTextOffice-Medium_2.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hyundai Sans Text Office';
    src: url('HyundaiSansTextOffice-Regular_2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hyundai Sans Text Office';
    src: url('HyundaiSansTextOffice-MediumItalic_1.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Hyundai Sans Text Office';
    src: url('HyundaiSansTextOffice-MediumItalic_2.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

